html, body {
    position: relative;
    width: 55%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #E7E7E7;
}

#topBar{
    height: 7vmin;
    position: sticky;
    right: 0px;
    top: 0px;
    margin-top: -8px;
    margin-bottom: 16px;
    width: 100%;
    background-color: #212121;
    color: white;
    box-shadow: 0px 3px 5px grey;
}

#topBarOptions{
    margin-right: 10px;
    float: right

}

.listGrid { 
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vmin;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
    }
.listGrid > div {
    position: relative;
    font-size: 2vmin;
    padding: .5em;
    text-align: center;
    height: 12vmin;
    color: #E7E7E7;
}

.gameGrid { 
    border: 0.5vmin solid #E7E7E7;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0vmin;
    margin-top: 16px;
    height: 35vmin;
    width: 35vmin;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vmin;
    }
.gameGrid > div {
    border: 0.3vmin solid #f2c94c;
    position: relative;
    font-size: 2vmin;
    padding: .5em;
    text-align: center;
    color: #E7E7E7;
}

#gameGrid1{
    border-left: 0.3vmin solid #E7E7E7;
    border-top: 0.3vmin solid #E7E7E7;
}
#gameGrid2{
    border-top: 0.3vmin solid #E7E7E7;
}
#gameGrid3{
    border-right: 0.3vmin solid #E7E7E7;
    border-top: 0.3vmin solid #E7E7E7;
}
#gameGrid4{
    border-left: 0.3vmin solid #E7E7E7;

}
/* #gameGrid5{

} */
#gameGrid6{
    border-right: 0.3vmin solid #E7E7E7;
}
#gameGrid7{
    border-left: 0.3vmin solid #E7E7E7;
    border-bottom: 0.3vmin solid #E7E7E7;
}
#gameGrid8{
    border-bottom: 0.3vmin solid #E7E7E7;
}
#gameGrid9{
    border-right: 0.3vmin solid #E7E7E7;
    border-bottom: 0.3vmin solid #E7E7E7;
}

#timer{
    color: #3A3A3A;
    font-size: 3vmin;
    text-align: center;
    margin-bottom: 3vmin;
}

#concede{
    background-color: #009688;
    border: none;
    color: white;
    padding: 10px 26px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0px 3px 5px grey;
}

.gridReady{
    background: #8E8E8E;
}

.gridProgress{
    background: #CBCBCB;
}

.gridEnded{
    background: #D9D9D9;
}

.name1{
    font-size: 2vmin;
    text-align: left;
    height: 4.5vmin;
}

.name2{
    font-size: 2vmin;
    text-align: left;
    height: 4.5vmin;
    border-top: 1px solid #3A3A3A
}

.gameTime{
    position: absolute;
    bottom: 0;
    right: 4px;
    color: #3A3A3A;
    font-size: 12px;
}

.username{
    height: 34px;
    font-size: 2vmin;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
    border-bottom: 1px solid #CBCBCB;
}

.playersBar{
    height: 34px;
    font-size: 2vmin;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
}

.playerContainer{
    height: 34px
}

.playerOne{
    margin-top: 4px;
    float: left;
}

.playerTwo{
    margin-top: 4px;
    float: right;
}

.playerActive{
    border-bottom: 2px solid black
}

.imgActive{
    background: #2d9cdb
}

.imgInactive{
    background: #8E8E8E
}

.playerOneImg{
    float: left;
    height: 3vmin;
    width: 3vmin;
    margin-left: 8px;
}

.playerTwoImg{
    float: right;
    height: 3vmin;
    width: 3vmin;
    margin-right: 8px;
}

.ticTacToe{
    position: absolute;
    font-size: 3vmin;
    margin: 2vmin;
}

.gridX{
    height: 8vmin;
    width: 8vmin;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.gridO{
    height: 8vmin;
    width: 8vmin;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


  button { cursor: pointer; }